{% extends 'layout.njk' %}

{% block head %}
    <title>视频监控</title>
{% endblock %}

{% block body %}
    {% include "navbar.njk" %}
    <div class="container">
        <h1>视频监控</h1>
        <p>CCTV Page</p>
    </div>
{% endblock %}