{% extends 'layout.njk' %}

{% block head %}
    <title>首页</title>
{% endblock %}

{% block body %}
    {% include "navbar.njk" %}
    <div class="container">
        <h1>首页</h1>
        <p>Hello Egg!</p>
    </div>
{% endblock %}